body {
    background-color: rgb(56, 51, 85);
}

.header {
    justify-content: center;
    text-align: center;
}

.header img{
    width: 10rem;
}

.champCompendium {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    width: 100%;
}

.champSplash, .champName, .champTitle {
    justify-content: center;
    text-align: center;
}

.champName {
    width: 308px;
    background-color: rgb(216, 216, 42);
}

.champTitle {
    width: 308px;
    background-color: rgb(187, 187, 187);
}

.card {
    background-color: transparent;
    height: 602px;
    perspective: 600px; 
  }
  
  .cardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .card:hover .cardInner {

    transform: rotateY(180deg);
  }
  
  .front, .back, .cardBack {
    position: absolute;
    margin: auto;
    width: 100%;
    border-radius: 15px;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  
  .front {
    overflow: hidden;
    transform: rotateY(180deg);
  }


  @keyframes floatAnim {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, -15px); }
    100%   { transform: translate(0, 0px); }    
}